extends ../layout

block content
  h1 Detailed Game View


  table
    tr
      td
        h2 NAME
      td
        h2 KINGS
      td
        h2 PLAYERS
      td
        h2 TEAMS
    for g in game
      tr
        td=g.name
        td TBA
        td TBA
        td TBA

