extends admin_layout

block content
  table(border='10px solid black', style = 'width: 100%')
    tr
      td
        h2 NAME
      td
        h2 STATUS
      td
        h2 START DATE
      td
        h2 DETAILS
    each g in games
      tr
        td
          p=g.name
        td
          p=g.status
        td
          p=g.startDate
        td
          form(action=`/admin/game/${g._id}`)
            input(type="submit" value="Details")